<?xml version="1.0"?>
<launch>
    <node name="vxense_camera_coordposition_node" pkg="vxense_camera_coordposition" type="vxense_camera_coordposition_node" output="screen" required="true">
    </node>

    <node name="world_coordinates_node" pkg="world_coordinates" type="world_coordinates_node" output="screen">
    </node>

    <node name="camera_tranform_body_node" pkg="camera_tranform_body" type="camera_tranform_body_node" output="screen">
    </node>
</launch>